{% extends '::base.html.twig' %}

{% block content -%}
    <h1>SystemMessage</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ entity.body }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Started At</th>
                <td>
                    {% if entity.startedAt is not null %}
                        {{ entity.startedAt|date('Y-m-d H:i:s') }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Ended At</th>
                <td>
                    {% if entity.endedAt is not null %}
                        {{ entity.endedAt|date('Y-m-d H:i:s') }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Created At</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated At</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_system_message') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_system_message_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
