{% extends '::base.html.twig' %}

{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block content -%}
    <h1>Plan edit</h1>

    {{ form(delete_form) }}

    {{ form_start(edit_form) }}
        {# render the task's only field: description #}

        <div class="row" style="margin-top: 15px;">
            <div class="col-md-12">
                {{ form_widget(edit_form.submit) }}

                <a class="btn btn-default" href="{{ path('admin_plans') }}">
                    Back to the list
                </a>
            </div>
        </div>


        {{ form_row(edit_form.name) }}

        <table class="table table-hover">
            <thead>
                <tr>
                    {% for i in edit_form.rows.0 %}
                        <th>
                            {{- form_label(i) -}}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% set iRow = 1 %}
                {% for row in edit_form.rows if iRow<6 %}
                    <tr>
                        {% for i in row %}
                            <td>
                                {{- form_widget(i) -}}
                            </td>
                        {% endfor %}
                        {% set iRow = iRow + 1 %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <select id="valueForChecked">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">do not sell</option>
        </select>
        <button type="button" id="valueSet">Set</button>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><input type="checkbox" id="checkAll"></th>
                    <th>Name</th>
                    <th>Industry Group</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for row in entity.rows %}
                    {% for type in row.industryType %}
                        <tr>
                            <td><input type="checkbox" class="indType" value="1"></td>
                            <td>{{ type.name }}</td>
                            <td>
                                <select name="industry_groups[{{ type.id }}]" class="form-control">
                                    <option {% if row.industryGroup == 1 %}selected{% endif %} value="1">1</option>
                                    <option {% if row.industryGroup == 2 %}selected{% endif %} value="2">2</option>
                                    <option {% if row.industryGroup == 3 %}selected{% endif %} value="3">3</option>
                                    <option {% if row.industryGroup == 4 %}selected{% endif %} value="4">4</option>
                                    <option {% if row.industryGroup == 5 %}selected{% endif %} value="5">5</option>
                                    <option {% if row.industryGroup == 6 %}selected{% endif %} value="6">do not sell</option>
                                </select>
                            </td>
                            <td>
                                <i class="fa fa-times"></i>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>

    {{ form_end(edit_form) }}


    <script>
        $(document).ready(function(){
            $("#checkAll").change(function () {
                $("input:checkbox.indType").prop('checked', $(this).prop("checked"));
                if($(this).prop("checked")) {
                    $("input:checkbox.indType").parent().addClass('checked');
                } else {
                    $("input:checkbox.indType").parent().removeClass('checked');
                }
            });

            $("#valueSet").on('click', function(){
                var indGroupValue = $("#valueForChecked").val();
                $.each( $( "input:checked" ), function( i, el ){
                    tr = $(el).parent().parent().parent().parent();
                    $(tr).find('select').val(indGroupValue);
                });
            })
        });
    </script>
{% endblock %}
