{% extends '::base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('system/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css') }}" />
    <link rel="stylesheet" href="{{ asset('system/global/plugins/bootstrap-sweetalert/sweetalert.css') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('system/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js') }}"></script>
    <script type="text/javascript" src="{{ asset('system/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js') }}"></script>
    <script type="text/javascript" src="{{ asset('system/global/plugins/bootstrap-sweetalert/sweetalert.js') }}"></script>

    <script>
        $(function () {
            $("textarea").wysihtml5({
                "stylesheets": ["/plugins/bootstrap-wysihtml5/wysiwyg-color.css"]
            });

            $("#localsbest_userbundle_product_type").on('change', function(){
                if($(this).val() == 'counter') {
                    $('#localsbest_userbundle_product_subscriptionPeriod').attr('disabled', false);
                    $('#localsbest_userbundle_product_subscriptionPeriod').attr('required', true);
                    $('#localsbest_userbundle_product_subscriptionCharges').attr('disabled', true);
                    $('#localsbest_userbundle_product_value').attr('disabled', false);
                }
                if($(this).val() == 'item') {
                    $('#localsbest_userbundle_product_subscriptionPeriod').attr('disabled', true);
                    $('#localsbest_userbundle_product_subscriptionCharges').attr('required', false);
                    $('#localsbest_userbundle_product_subscriptionCharges').attr('disabled', true);
                    $('#localsbest_userbundle_product_value').attr('disabled', false);
                }

                if($(this).val() == 'subscription') {
                    $('#localsbest_userbundle_product_subscriptionPeriod').attr('disabled', false);
                    $('#localsbest_userbundle_product_subscriptionPeriod').attr('required', true);
                    $('#localsbest_userbundle_product_subscriptionCharges').attr('disabled', false);
                    $('#localsbest_userbundle_product_value').attr('disabled', true);
                }
            });

            $("#localsbest_userbundle_product_type").trigger('change');
        });
    </script>
{% endblock %}

{% block content -%}
    <h1>Product creation</h1>

    {{ form_start(form) }}
        {{ form_row(form.product) }}
        {{ form_row(form.type) }}

        <i>* Set zero price (0) for free product type;</i><br>
        <i>* Set negative price (-1) for contact us product type;</i>
        {{ form_row(form.price) }}

        {{ form_row(form.setupFee) }}
        {{ form_row(form.margin) }}
        {{ form_row(form.value) }}
        {{ form_row(form.subscriptionPeriod) }}
        {{ form_row(form.subscriptionCharges) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}

    <a class="btn btn-default" href="{{ path('admin_products') }}">
        Back to the list
    </a>

{% endblock %}
