Hi!<br>
<br>
I was wondering if you have heard about Easy Closes.<br>
<br>
Easy Closes is in the business of providing customer services for professionals like yourself who work with home
buyers, sellers and renters.<br>
<br>
They showcase local companies that have an outstanding reputation for customer service, which is why I thought about
you. Being listed in the Easy Closes directory actually provides businesses like yours with a real advantage over your
competitors.<br>
<br>
The benefits are that your company name can be seen not just by the people you know, but also by everyone who works
here and all of their customers too!<br>
<br>
Their fee is so minimal that it will easily be paid for with the profits from your first job. In my opinion, there are
simply no other options where you can be in front of these many people who are in need of your services.<br>
<br>
<a href="{{ url('register', {token: invite.token}) }}">Click here now to see more details</a><br>
<br>
All the best,<br>
<br>
{{ app.user.fullName }}<br>
{{ app.user.businesses.first.name }}<br>
{{ app.user.primaryEmail.email }}<br>
{{ app.user.primaryPhone.number }}<br>
