Hi {{ user.firstname }},
<br/>
<br>
{{ rejectNote }}
<br>
<br>
<a href="{{ url }}">
    <b> CLICK HERE TO REPLY</b>
</a>
<br>
<br>
{{ rejectUser.fullName }}
<br>
{{ rejectUser.primaryEmail.email }}
<br>
{{ rejectUser.primaryPhone.number }}

