{% extends "::blank.html.twig" %}

{% block title %}
    Reset Password 
{% endblock %}

{% block content %}
    <!-- BEGIN Confirm FORM -->
        <div id="tab_3-3" class="tab-pane active">
            {{ form_start(form, {attr: {class: 'register_form'} }) }}
            <div class="form-group">
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    {{ form_widget(form.password.first) }}
                    <span class="help-block">
                        {{ form_errors(form.password.first) }}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    {{ form_widget(form.password.second) }}
                    <span class="help-block">
                        {{ form_errors(form.password.second) }}
                    </span>
                </div>
            </div>
            <div class="margin-top-10">
                <button type="submit" id="register-submit-btn" class="btn btn-success pull-right">
                    Change Password <i class="m-icon-swapright m-icon-white"></i>
                </button>
                <input type="reset" class="btn btn-default" name="Reset" >
            </div>
            {{ form_end(form) }}
        </div>
        <!-- END Confirm FORM -->
{% endblock %}