{% extends '::base.html.twig' %}

{% block content -%}
    <h1>Tooltip</h1>

    <table class="table record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ entity.body }}</td>
            </tr>
        </tbody>
    </table>


    <a class="btn btn-default" href="{{ path('admin_tooltips') }}">
        Back to the list
    </a>

    <a class="btn btn-warning" href="{{ path('admin_tooltips_edit', { 'id': entity.id }) }}">
        Edit
    </a>

    {{ form(delete_form) }}
{% endblock %}
