{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('system/global/plugins/datatables/datatables.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('system/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <style>
        #example_wrapper{margin-top: 15px;}
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('system/global/plugins/datatables/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('system/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js') }}"></script>
    
    <script>
        $(document).ready(function(){
            //datatable for better package filteration
            var dTable = $('#example').dataTable({
                processing: true,
                responsive: true,
                serverSide: true,
                columns: [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                ],
                "order": [[ 6, "desc" ]],
                ajax: {
                    url: "{{path('sku_business_able_ajax')}}?{{ params|raw }}",
                    type: 'GET',
                    error: function (jqXHR, textStatus, errorThrown) {
                        if (jqXHR.redirect) {
                            alert("error" + jqXHR + " : " + textStatus + " : " + errorThrown);
                        }
                    },
                    complete: function(data) {
                        windowForLogout(data)
                    },  
                },
                dom: 'lfBtrip',
                buttons: [
                   
                ]
            });
           
            $('#example').on('change','.disableProduct', function(){
                var productId = $(this).data('product');
                $.ajax({
                    url: '{{ path('sku_toggle_business_able') }}',
                    method: 'post',
                    data: {
                        skuId: productId
                    }
                })
                .success(function(data){
                });
            });
        });
    </script>
{% endblock %}

{% block content -%}
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-shopping-cart"></i> Shop Items
                <span>{{ tooltip_text.getText('Shop Items','header')|raw }}</span>
            </div>
            <div class="actions"></div>
        </div>
        <div class="portlet-body">
            <form method="post" action="{{ path('sku_change_shop_status') }}">
                <label class="mt-radio mt-radio-outline">
                    all new items may be sold to my employees
                    <input class="" {% if business.shopSkuStatus == "can_be_sold" %}checked{% endif %}  type="radio" name="shopProductsStatus" value="can_be_sold">
                    <span></span>
                </label>
                <br>
                <label class="mt-radio mt-radio-outline">
                    new items for sale must be approved by me
                    <input class="" {% if business.shopSkuStatus == "need_manager_approve" %}checked{% endif %}  type="radio" name="shopProductsStatus" value="need_manager_approve">
                    <span></span>
                </label>
                 <br/>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
                    
            <br/>  
            
            {% if checker.forAddon('packages', app.user) %}
                <form method="post" action="{{ path('sku_change_shop_status1') }}">
                     <br>
                    <label class="mt-checkbox mt-checkbox-outline">
                        Do you want to offer custom quotes in Shop?
                        <input class=""  type="checkbox" name="customQuote" {% if user.customQuotes is defined and user.customQuotes == "1" %}checked{% endif %}>
                        <span></span>
                    </label>
                    <br/>
                    <button type="submit" class="btn btn-primary sku-button">Update</button>
                </form>
            {% endif %}
            <table style="width: 100%;" id="example" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th data-orderable="false">Show in the shop</th>
                        <th> Business Name </th>
                        <th> Package Name </th>
                        <th> Industry </th>
                        <th> Category </th>
                        <th> Rebate(%) </th>
                        <th> Published Date </th>
                        <th> Tags </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}
