{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function(){
            $('select').on('change', function(){
                var sku = $(this).data('sku');
                var status = $(this).find('option:checked').val();

                var el = this;

                $.ajax({
                    'url': '{{ path('sku_status_change') }}',
                    'method': 'POST',
                    'data': {
                        'sku': sku,
                        'status': status
                    },
                    'success': function () {
                        $(el).parent().parent().remove();
                    }
                });


            });
        });
    </script>
{% endblock %}

{% block content -%}
    <h1>SKUs for approve List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Created At</th>
                <th>Created By</th>
            </tr>
        </thead>

        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('packages_edit', { 'id': entity.package.id }) }}" target="_blank">{{ entity.title }}</a></td>
                    <td>
                        <select data-sku="{{ entity.id }}" class="form-control input-sm">
                            <option value="4" {% if entity.status == 4 %}selected{% endif %}>Pending for approval</option>
                            <option value="2" {% if entity.status == 2 %}selected{% endif %}>Publish</option>
                            <option value="5" {% if entity.status == 5 %}selected{% endif %}>Disapprove</option>
                        </select>
                    </td>
                    <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.createdBy.fullName }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
