{% if products|length > 0 %}
    <h3>Related Products</h3>
    <div class="gap gap-mini"></div>
    <div class="row row-wrap">
        {% for sku in products %}
            <div class="col-md-4">
                <div class="product-thumb">
                    <header class="product-header limited-image">
                        {% if sku.images is not empty %}
                           <img src="{{ vich_uploader_asset(sku.package, 'file') }}" alt="{{ sku.title }}">
                        {% else %}
                            <img src="/shop/img/800x600.png" alt="{{ sku.title }}" title="{{ sku.title }}"/>
                        {% endif %}
                    </header>
                    <div class="product-inner">
                        <ul class="icon-group icon-list-rating" title="3.5/5 rating">
                            {{ sku.averageRating|rating|raw }}
                        </ul>
                        <h5 class="product-title">{{ sku.title }}</h5>
                        <p class="product-desciption">
                            {{ sku.shortDescription|raw }}
                        </p>
                        <div class="product-meta">
                            <ul class="product-price-list">
                                <li>
                                    <span class="product-price">${{ sku.retailPrice|number_format }}</span>
                                </li>
                            </ul>
                            <ul class="product-actions-list">
                                <li>
                                    <a class="btn btn-sm" href="{{ path('sku_show', { 'id': sku.id }) }}">
                                        <i class="fa fa-bars"></i> Details
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="gap gap-small"></div>
{% endif %}