<div class="content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Send Email</h4>
    </div>
    <form class="form-horizontal" role="form" method="post" action="{{ path('transaction_non_received_send_email') }}">
        <input type="hidden" name="agent_name" value="{{ agent_name }}">
        <input type="hidden" name="agent_id" value="{{ agent_id }}">
        <input type="hidden" name="address" value="{{ data.address }}">
        <input type="hidden" name="mls" value="{{ data.mls }}">
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-body">
                        <div class="form-group">
                            <label for="email_template" class="col-md-2 control-label">Email Template</label>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-12">
                                        <select name="email_template" id="email_template" class="form-control">
                                            <option value="1">Non-received 4 emails set</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email_address" class="col-md-2 control-label">Email Address</label>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" name="email_address" id="email_address" required class="form-control" placeholder="Email Address" value="{{ agent_email }}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email_subject" class="col-md-2 control-label">Email Subject</label>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" name="email_subject" id="email_subject" class="form-control" placeholder="Email Subject"
                                                {% if emailTemplate is not null %}
                                                    value="{{ emailTemplate.title }}"
                                                {% else %}
                                                    value="Congratulations on Your New Listing for '{{ data.address }}'"
                                                {% endif %}
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email_body" class="col-md-2 control-label">Email Body</label>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea rows="11" name="email_body" id="email_body" class="form-control wysihtml5" placeholder="Email Body">
                                            {% if emailTemplate is not null %}
                                                {{ emailTemplate.body }}
                                            {% else %}
                                                {% include('@LocalsBestUser/transaction/_email-template-1.html.twig') %}
                                            {% endif %}
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button type="submit" id="save" onclick="this.disabled=true;this.form.submit();" class="btn btn-success"><i class="fa fa-envelope"></i> Send</button>
        </div>
    </form>
</div>

<script>
    var handleWysihtml5 = function() {
        if (!jQuery().wysihtml5) {
            return;
        }

        if (!$('.wysihtml5').data('wysihtml5')) {
            $('.wysihtml5').wysihtml5({
                "stylesheets": ["../../system/global/plugins/bootstrap-wysihtml5/wysiwyg-color.css"]
            });
        }
    };

    $("a.email-btn").on('click', function(){
        $( document ) .ajaxComplete(function(){
            handleWysihtml5();
        })
    });

    $(document).ready(function () {
        handleWysihtml5();

        $('#email_template').on("change", function(){
            matchClicked = true;
            $.ajax({
                method: "GET",
                url: "/transaction/non-receive-change-email-template/" + {{ agent_id }} + "/" + $(this).val() + "?address={{ data.address }}" + "&agentName={{ agent_name }}" + "&mls={{ data.mls }}",
                dataType: "html",
                success:function(data){
                    $('#email_body').data("wysihtml5").editor.setValue(data);
                }
            })
        });
    });
</script>